


html{
  scroll-behavior:smooth;
}

body{
  margin:0;
  font-family:Arial,sans-serif;
}





#servicios{

  min-height:100vh;

  padding:100px;

}

#problemas{

  min-height:100vh;

  padding:100px;

}

#experiencia{

  min-height:100vh;

  padding:100px;

}

#clientes{

  min-height:100vh;

  padding:100px;

}

#contacto{

  min-height:100vh;

  padding:100px;

}
#inicio{

  min-height:100vh;

  padding:100px;

}

#metodologia{

  min-height:100vh;

  padding:100px;

}


.navbar-argos{

    background:rgba(10,20,35,.92);

    backdrop-filter:blur(8px);

    transition:.3s;
}
.hero-parallax{

    background-image:url("../img/hero.jpg");

    min-height:100vh;

    background-position:center;

    background-size:cover;

    background-repeat:no-repeat;

    background-attachment:fixed;
}

.overlay{

    min-height:100vh;

    background:rgba(0,0,0,.55);

    display:flex;

    align-items:center;

    color:white;
}

html{
  scroll-behavior:smooth;
}

body{
  margin:0;
}
section{
  min-height:100vh;
  padding-top:100px;
  padding-left:50px;
  border-bottom:1px solid #ccc;
}
#inicio{
  background:#0f172a;
  color:white;
}
#servicios{
  background:#f1f5f9;
}
#contacto{
  background:#e2e8f0;
}



.parallax{
 background-image:url('https://images.unsplash.com/photo-1506744038136-46273834b3fb');
  background-attachment:fixed;
  background-position:center;
  background-size:cover;
  height:100vh;

  display:flex;
  align-items:center;
  justify-content:center;

  color:white;
  font-size:3rem;
}

