


html{
  scroll-behavior:smooth;
}

body{
  margin:0;
  font-family:Arial,sans-serif;
}





#servicios{

  min-height:100vh;

  padding:100px;

}

#problemas{

  min-height:100vh;

  padding:100px;

}

#experiencia{

  min-height:100vh;

  padding:100px;

}

#clientes{

  min-height:100vh;

  padding:100px;

}

#contacto{

  min-height:100vh;

  padding:100px;

}
#inicio{

  min-height:100vh;
  padding:100px;
  color:white;
  /* background:#0f172a; */

}

#metodologia{

  min-height:100vh;

  padding:100px;

}


.navbar-argos{

    background:rgba(10,20,35,.92);

    backdrop-filter:blur(8px);

    transition:.3s;
}
.hero-parallax{

    background-image:url("../img/hero.jpg");

    min-height:100vh;

    background-position:center;

    background-size:cover;

    background-repeat:no-repeat;

    background-attachment:fixed;
}

.overlay{

    min-height:100vh;

    background:rgba(0,0,0,.55);

    display:flex;

    align-items:center;

    color:white;
}

html{
  scroll-behavior:smooth;
}

body{
  margin:0;
}
section{
  min-height:100vh;
  padding-top:100px;
  padding-left:50px;
  border-bottom:1px solid #ccc;
}

#servicios{
  background:#f1f5f9;
}
#contacto{

    position:relative;

    min-height:100vh;

    background:#0f172a;

    overflow:hidden;

    display:flex;

    align-items:center;

    justify-content:center;

}



.parallax{
 background-image:url('https://images.unsplash.com/photo-1506744038136-46273834b3fb');
  background-attachment:fixed;
  background-position:center;
  background-size:cover;
  height:100vh;

  display:flex;
  align-items:center;
  justify-content:center;

  color:white;
  font-size:3rem;
}
/* #particles{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:0;
} */
#particles{

    position:absolute;

    inset:0;

    z-index:1;

}

.overlay{
    position:relative;
    z-index:1;
}
.contact-card{

    position:relative;

    z-index:2;

    background:white;

    padding:40px;

    border-radius:20px;

    max-width:700px;

    width:100%;

    box-shadow:0 20px 60px rgba(0,0,0,.25);

}
.parallax-banner{

    position:relative;

    height:70vh;

    background-image:url("../img/trazabilidad.jpg");

    background-position:center;

    background-size:cover;

    background-repeat:no-repeat;

    background-attachment:fixed;

}

.parallax-overlay{

    position:absolute;

    inset:0;

    background:rgba(10,20,35,.60);

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    text-shadow:0 3px 10px rgba(0,0,0,.5);

}

.contact-card h2{

    color:#0f172a;
}

